#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 
input
{
    background: grey
}

.travel_main hr{
width: 230px;
}
.travel_main{
border :1px solid black;
padding-left: 0px ;
    padding-right: 0px;
    float:none;
}
.travel_main img{
    width: 100%
}
.travel_main h5, .travel_main p{
    margin-left: 20px;
}
.moving_picture{
border :1px solid black;
padding: 6px 22px ;
    border-radius: 10px;
    margin-bottom: 15px;
    
    
}
.moving_picture i{
    float:right;
}
.movie_text span{
    color: yellow
}
.environment_li{
    margin-top: 13px;
}
.environment_li h4{
 border-bottom: 1px solid white;
padding: 8px;    
}